body {
background: blue;
color: white;
}
html{
  background: blue;
}

input{
  color: black;
}

#issue{
display: block;
}

#bernieposition{
display: inline-block;
}

#hillaryposition{
display: inline-block;
}

canvas {
  background-color: blue;
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 580px;
}

.meme{
/*
width: 80%;
margin-left: auto;
margin-right: auto;
*/
background: blue;
color: white;
}
